<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Control</title>
    <link rel="stylesheet" href="static/style.css">
    <script>
        function $(id) {
            return document.getElementById(id);
        }

        window.onload = function () {
            const videoSocket = new WebSocket("ws://" + location.hostname + ":8000/");
            videoSocket.onmessage = async function (event) {
                const image = await event.data.text();
                $("stream").src = image;
            };
        };
    </script>
</head>

<body>
    <div class="grid-container">
        <div class="grid-item camera-view">
            <img src="" id="stream" alt="Camera Feed">
        </div>
        <div class="grid-item controls-container">
            <h1>Robot Control Interface</h1>
            <div>
                <button>Move Forward</button>
                <button>Move Backward</button>
            </div>
        </div>
        <div class="grid-item logs">
            <h2>Logs</h2>
            <pre id="log-content"></pre>
        </div>
    </div>
</body>

</html>